body {
    background-color: black;
    background-image: url("kepek/auto_background_14.jpg");
    background-repeat: no-repeat;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

a {
    color: orange;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    margin: 30px;
    border: 10px solid orange;
    border-radius: 50%;
    background-color: rgb(50, 48, 48);
    box-sizing: border-box;
}

img {
    width: 400px;
    padding: 10px;
    border: 10px solid rgb(50, 48, 48);
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
}

h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    background-color: rgb(50, 48, 48);
    padding: 30px;
    border-radius: 50%;
    box-sizing: border-box;
}

p {
    text-align: justify;
    font-size: 15px;
}
